@import "tailwindcss";

@theme {
  --default-transition-duration: 250ms;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    --bg-img: radial-gradient(
      circle,
      rgba(24, 24, 27, 1) 0%,
      rgba(31, 28, 28, 1) 100%
    );
    background-image: var(--bg-img);

    @apply min-h-screen min-w-xs bg-zinc-900 font-sans text-zinc-50;
  }

  main {
    --header-height: 64px;
    --section-min-h: calc(100vh - var(--header-height));
    min-height: var(--section-min-h);
  }

  section {
    @apply mx-auto max-w-5xl;
  }

  h2 {
    @apply text-2xl font-semibold;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  @apply absolute size-[1px] overflow-hidden whitespace-nowrap;
}

.tech-stack {
  @apply mt-4 flex max-w-xl flex-wrap items-center gap-4 rounded-md bg-zinc-800 p-4;

  li {
    @apply flex items-center gap-2;

    img {
      @apply size-5;
    }

    span {
      @apply text-sm;
    }
  }
}

.project-card {
  @apply mx-auto max-w-3xl rounded-md bg-zinc-800 p-4;
}

.project-link {
  @apply flex items-center gap-3 rounded-full border-2 border-transparent bg-zinc-900 px-3 py-1.5 transition-colors hover:border-zinc-50 active:border-zinc-50;
}
